.reverse {
    max-width: 430px;
    min-width: 320px;
    height: 660px;
    background-image: url(../../images/9A8132FB-7D97-428F-8199-133BF2C8B827.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}