.contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contacts__title {
    font-size: 50px;
    font-family: 'Ceremonious', sans-serif;
    font-weight: 300;
    color: #142300;
    width: 300px;
    text-align: center;
    margin: 40px auto 0 auto;
}

.contacts__text {
    font-size: 20px;
    width: 300px;
    text-align: center;
    margin: 40px auto;
}

.contacts__icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url(../../images/free-icon-whatsapp-1241020.png);
    background-size: cover;
    background-repeat: none;
}