.contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contacts__title {
    font-size: 50px;
    font-family: 'Ceremonious', sans-serif;
    font-weight: 300;
    color: #DBB900;
    width: 300px;
    text-align: center;
    margin: 40px auto 0 auto;
}

.contacts__text {
    font-size: 16px;
    width: 300px;
    text-align: center;
    margin: 40px auto 0 auto;
}

.contacts__icon {
    width: 60px;
    height: 60px;
    margin: 20px auto;
    background-image: url(../../images/free-icon-whatsapp-1241020.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: solid 3px #142300;
}