.page {
    background-color: #F1F1D9;
    color: #142300;
    max-width: 430px;
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Own Font', sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}