.dress-code__color_1 {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: rgb(153, 102, 51);
    margin: 10px;
}

.dress-code__color_2 {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: rgb(210, 165, 120);
    margin: 10px;
}

.dress-code__color_3 {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: rgb(226, 197, 168);
    margin: 10px;
}

.dress-code__color_4 {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: rgb(221, 221, 221);
    margin: 10px;
}

.dress-code__color_5 {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: rgb(217, 235, 153);
    margin: 10px;
}

.dress-code__color_6 {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: rgb(196, 223, 95);
    margin: 10px;
}

.dress-code__color_7 {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: rgb(138, 161, 3);
    margin: 10px;
}

.dress-code__color_8 {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: black;
    margin: 10px;
}

.dress-code__color_9 {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: grey;
    margin: 10px;
}

.dress-code__color_10 {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: white;
    margin: 10px;
}