.header {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 0;
    border-bottom: 1px solid black;
    max-width: 430px;
    background-image: url(../../images/intro-min.jpeg);
    height: 640px;
    border: 0;
    background-size: cover;
    position: relative; 
}

.header:after {
    content: '';
    position: absolute;
    top: 200px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #E7E7C8 100%);
}


.header__music {
    width: 50px;
    height: 50px;
    margin: 10px 20px 0 0;
    position: relative;
    animation-duration: 5s;
    animation-name: slidein;
}

.header__button {
    width: 100%;
    height: 100%;
    background: no-repeat url(../../images/play.svg);
    background-size: contain;
    border: none;
    cursor: pointer;
    background-position: center;
}

.played {
    background: no-repeat url(../../images/pause.svg);
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 300px;
    }
  }