.invite__date {
    font-size: 90px;
    font-family: 'Alexandra', sans-serif;
    font-weight: 500;
    color: #DBB900;

    text-align: center;
    margin: 40px auto;
}

.invite__title {
    font-size: 50px;
    font-family: 'Ceremonious', sans-serif;
    font-weight: 500;
    color: #DBB900;

    text-align: center;
    margin: 30px auto;
}

.invite__text {
    font-size: 15px;
    width: 300px;
    text-align: center;
    margin: 20px auto;
}