@font-face {
    font-family: 'Old Standart';
    src: url(./OldStandard-Regular.ttf);
}

@font-face {
    font-family: 'Ceremonious';
    src: url(./ceremoniousthree.ttf);
}

@font-face {
    font-family: 'Alexandra';
    src: url(./alexandrazeferinoone.ttf);
}

@font-face {
    font-family: 'Own Font';
    src: url(./ofont.ru_Trajan.ttf);
}