.header__burger {
    width: 30px;
    height: 35px;
    background-image: url(../../../images/free-icon-menu-5629559.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: opacity 0.3s linear;
    cursor: pointer;
    margin: 28px 16px;
    text-decoration: none;
}

.header__burger:hover {
    opacity: 0.5;
}