.footer {
    height: 600px;
    background-image: url(../../images/footer-new.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.footer__title {
    font-family: "Ceremonious", sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    padding-top: 50px;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(233,255,216,0.2);
}